

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    color: #222344;
    font-size: 16px; /* Base font size */
    line-height: 1.618; /* Line height following the golden ratio */
}

h1 {
    color:white;
    font-size: 2.618em; /* Font size following the golden ratio */
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

h2 {
    color: white;
    font-size: 1.618em; /* Font size following the golden ratio */
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
}

h3 {
    color: white;
    font-size: 1em; /* Font size following the golden ratio */
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

p {
    color: white;
}

li{
    color:white;
}

/* Setting properties of the container and applying the golden ratio for width and padding */
.container {
    width: 61.8%; /* Width following the golden ratio */
    max-width: 1600px; /* Max-width for larger screens */
    margin: 0 auto;
    background-color: #1e1e1e;
    padding: 1.618% 2.618%; /* Padding following the golden ratio */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    margin-bottom: 40px;

}

header, main, footer {
    padding: 1.618% 2.618%; /* Padding following the golden ratio */
}

a {
    color: #7B6F63;
    text-decoration: none;
    padding: 0.618em 1em; /* Padding following the golden ratio */
}

/* Styling for social links and applying the golden ratio for width */
.social-links {
    display: flex;
    justify-content: space-between;
    width: 38.2%; /* Width following the golden ratio */
    margin: 0 auto;
}

header {
    font-family: 'Outfit';
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    line-height: var(--line-h);
}

.header, ul {
    list-style: none;
    display: flex; /* Display list items in a row */
    gap: 5rem;
    justify-content: flex-end;
}

.hero {
    width: 100%; /* Width following the golden ratio */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.heroOne{
    width:50%;
    padding-top:4rem;
}

.jomas {
    width: 40%;
}

.pic{
    height:117px;
    width:132px;
}

.viewButton {
    width: 300px;
    height: 60px;
    border: 2px, solid;
    border-radius: 78px;
    text-align: center;
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    background-color: #8C8CDA;
    text-align: center;
    font-size: 20px;
    line-height: 27.5;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-family: "outfit";
}

.MyWorks {
    display: flex;
    flex-direction: column;
    background-color: #181717;
}

.articles {
    display: flex;
    flex-direction: column;
}

    .articles h2 {
        color: #1E1E1E;
    }

.squareImg{
    width:100%;
}

.Squares{
    display: flex;
    flex-direction: row;
    gap: 10px;
}



.MyWorks h2 {
    color: #1E1E1E;
}

.Squares p {
    color: #1E1E1E;
}

.sqaure-container {
    background-color: #757575;
    position: relative; /* This is necessary for absolute positioning of the circle */
    display: flex;
    flex-direction: column;
    align-items: start; /* Aligns the boxes vertically */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 20px;
    line-height:20px;
    border-style:solid;
    border-color:white;
    border-width:1px;
}
